.hero{
    min-height: 70vh;
    background: url(../../assests/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-img{
    max-width: 400px;
    margin-left: auto;
   
    
}
.intro{
    color:rgb(227, 238, 241);
    margin-top: 80px;
    margin-left: 20%;
}
.intro span{
    color:rgb(96, 155, 7) ;
}

.para {

    margin-left: 20%;
    color: black;
} 
