/* contact us page */
.contact{
  width: 50%;
  margin: 50px auto 50px auto;
  min-height: 70vh;
  
}
.card{
  box-shadow: -5px 5px 5px rgb(124, 116, 116);
}

.contact i{
  font-size: 2.5rem;
}
.contact a{
  text-decoration: none;
 color: rgb(184, 51, 51);
  font-size: 2rem;

}
.handlers{
margin-left: 2rem;
}
h3{
  text-align: center;
}